



<div class="search-div">
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
  <mat-form-field appearance="outline">





    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button [ngStyle]="{'background-color':'Transparent','background-repeat':'no-repeat', 'border': 'none', 'cursor':'pointer', 'overflow': 'hidden'}" matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>




<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="courseName">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Full Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.courseName}}</mat-cell>
   </ng-container>


    <ng-container matColumnDef="fee">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Fee</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fee}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="batch">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Batch</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.batch}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="subject">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Subject</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.subject}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a [routerLink]="['/admin/products/', element.key]">     <button mat-icon-button [ngStyle]="{'background-color':'Transparent','background-repeat':'no-repeat', 'border': 'none', 'cursor':'pointer', 'overflow': 'hidden'}"><mat-icon >launch</mat-icon></button>
        </a>
        <button mat-icon-button hidden  [ngStyle]="{'background-color':'Transparent','background-repeat':'no-repeat', 'border': 'none', 'cursor':'pointer', 'overflow': 'hidden'}"><mat-icon color="warn"   >delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>

    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[2,3,5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>


<!--
<div class="search-div">
  <button mat-raised-button>
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Full Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fullName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.mobile}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.city}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="departmentName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.departmentName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>


<p>
  <input type="text" [(ngModel)]="term"  class="form-control" placeholder="Search...">
</p>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Course Name</th>
    <th scope="col">Fee</th>
    <th scope="col"> </th>
    <th scope="col">Key Test </th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let p of productss$  | filter:term">
    <td> {{ p.courseName }}</td>
    <td> {{ p.fee }}</td>
    <td> <a [routerLink]="['/admin/products/', p.$key]">Edit</a></td>
    <td>{{p.$key}}</td>
  </tr>

  </tbody>
</table>
-->
