<div class="row">
  <div class="col-3">
    <app-aa-product-filter [subject]="subject"></app-aa-product-filter>


  </div>
  <div class="col">
    <div class="row text-center ">
      <ng-container *ngFor="let p of $filterProducts ; let i = index">

        <div class="col d-flex align-items-center justify-content-center">
          <app-aa-product-card [$product]="p"></app-aa-product-card>

        </div>

        <div *ngIf="(i + 1) % 2 === 0" class="w-100" ></div>
      </ng-container>
    </div>
  </div>
</div>


