<div class="card" style="width: 100%;">


<!--
  <youtube-player class="card-img-top" width="100%" height="40%" videoId="{{$product.imageVideo}}"></youtube-player>
-->
  <img  src="https://img.youtube.com/vi/{{$product.imageVideo}}/sddefault.jpg" class="card-img-top" alt="...">
  <div class="card-body">

    <h4 class="card-title text-black-50"> {{$product.courseName}} <button style="text-align: center" data-toggle="modal" [attr.data-target]="'#' +$product.imageVideo" ><i class="fa fa-play-circle" style="font-size:20px;color:#ff0000"></i></button></h4>

    <p class="card-text"> {{$product.subject}}/{{$product.batch}}/{{$product.fee}}</p>
    <div class="card-footer">
      <button    (click)="addToCart($product)" class="btn btn-primary btn-block">Add to Cart</button>
    </div>

  </div>
</div>

<!-- Modal -->
<div   [attr.id]="$product.imageVideo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">

        <youtube-player class="card-img-top " width="100%"   [attr.id]="'O'+$product.imageVideo" videoId="{{$product.imageVideo}}"></youtube-player>

        <!--
               <iframe id="video" width="100%" height="315" [src]="'https://youtu.be/'+ $product.imageVideo"  frameborder="0" allowfullscreen></iframe>
        <iframe id="video" width="100%" height="315" [src]="'https://youtu.be/'+ $product.imageVideo"  frameborder="0" allowfullscreen></iframe>

 -->
        -
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-default" data-dismiss="modal" (click)="deletevideo('O'+$product.imageVideo)" >Close</button>
      </div>
    </div>

  </div>
</div>
