
<div class="sticky-top">
  <div class="list-group">
    <a routerLink="/" class="list-group-item list-group-item-action" [class.active]="!subject">
      All Courses
    </a>

    <a *ngFor="let p of $subjects" class="list-group-item list-group-item-action" routerLink="/"
       [queryParams]="{subject:p.name}" [class.active]="subject===p.name">
      {{p.name}}
    </a>
  </div>
</div>

