// Custom.scss
// Option A: Include all of Bootstrap @import '~normalize.css';
//@import "../node_modules/bootstrap/scss/bootstrap";


@import "node_modules/bootstrap/scss/bootstrap";



body{
  padding-top: 80px;
}

.hide{
  display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
}


/* filter controls */
.search-div{
  margin: 10px;
}
.search-form-field{
  width: 60%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.search-form-field div.mat-form-field-underline {
  display: none;
}
.search-form-field div.mat-form-field-infix{
  border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper{
  padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button{
  height: 32px;
  width: 32px;
}

@import "scss/base";
@import "scss/typography";

@import "scss/sidebar";
@import "scss/header";
@import "scss/realtors";
@import "scss/features";
@import "scss/story";
@import "scss/homes";
@import "scss/gallery";
@import "scss/footer";

/*
@import 'node_modules/bootstrap/scss/functions';

'_functions',
'variables',
'mixins',
'print',
'reboot',
'type';
*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
